CONFD_CONFIG_DIR=/etc/hostconfig/configs
CONFD_LOG_PATH=/var/log/hostconfig/confd.log

# Relative to CONFD_CONFIG_DIR/conf.d (toml files)
OUTPUT_DIR=../../output-generated
DEFAULT_TEMPLATE=default_tenant_template.tmpl

# Uncomment if confd is not on path
#CONFD_PATH=/opt/confd/confd