CONFD_CONFIG_DIR=/etc/hostconfig/confd
CONFD_LOG=/var/log/hostconfig/confd.log

OUTPUT_CONFIG_DIR=/etc/nginx/sites-generated
DEFAULT_TEMPLATE=default_tenant_template.tmpl

# Uncomment if confd is not on path
#CONFD_PATH=/opt/confd/confd