{{if not ((exists "/isbarehost") or (exists "/ishttp"))}}
server {
{{if exists "/ishttp"}}
    server_name {{getv "/partialredirect/hostnames"}};
{{else}}
    server_name {{getv "/fullredirect/hostnames"}};
{{end}}
    listen 80;

    access_log /var/log/nginx/crowded/{{getv "/filename"}}-access.log crowded buffer=32k flush=5m;

{{if exists "/ishttp"}}
    return 301 http://{{getv "/partialredirect/tohost"}}$request_uri;
{{else}}
    return 301 https://{{getv "/fullredirect/tohost"}}$request_uri;
{{end}}
}
{{end}}
{{if not (exists "/isbarehost")}}{{if not (exists "/ishttp")}}
server {
    listen 443 ssl http2;
    ssl_certificate /etc/nginx/ssl/certs/{{getv "/filename"}}.chain.pem;
    ssl_certificate_key /etc/nginx/ssl/private/{{getv "/filename"}}.key;
    server_name {{getv "/partialredirect/hostnames"}};

    access_log /var/log/nginx/crowded/{{getv "/filename"}}-access.log crowded buffer=32k flush=5m;

    return 301 https://{{getv "/partialredirect/tohost"}}$request_uri;
}
{{end}}{{end}}
server {
    server_name {{getv "/primaryhostnames"}};
{{if not (exists "/ishttp")}}
    listen 443 ssl http2;
    ssl_certificate /etc/nginx/ssl/certs/{{getv "/filename"}}.chain.pem;
    ssl_certificate_key /etc/nginx/ssl/private/{{getv "/filename"}}.key;
{{else}}
    listen 80;
{{end}}

{{if exists "isunlisted"}}
    add_header X-Robots-Tag noindex always;
{{end}}

    error_log /var/log/nginx/crowded/{{getv "/filename"}}-error.log warn;
    access_log /var/log/nginx/crowded/{{getv "/filename"}}-access.log crowded buffer=32k flush=5m;

    root /usr/share/nginx/crowded;

    location ~* \.(css|js)$ {
        access_log      off;
        log_not_found   off;
        expires         1d;
    }

    location ~* ^.+\.(ogg|ogv|svg|svgz|eot|otf|woff|mp4|ttf|rss|xml|atom|jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf)$ {
        access_log      off;
        log_not_found   off;
        expires 30d;
    }

    location = /robots.txt {
        access_log      off;
        log_not_found   off;
    }

    location ~ /\. {
        internal;
        access_log      off;
        log_not_found   off;
    }

    include sites-available/{{getv "/filename"}}.d/*;
}
